/* line 1, assets/stylesheets/layout/_reset.scss */
* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, assets/stylesheets/layout/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 14, assets/stylesheets/layout/_reset.scss */
after, hgroup:after, nav:after, footer:after, header:after, section:after, div:after, ol:after, ul:after, li:after, dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* line 23, assets/stylesheets/layout/_reset.scss */
a {
  text-decoration: none;
}

/* line 26, assets/stylesheets/layout/_reset.scss */
ul,
ol {
  list-style: none;
  list-style-position: outside;
}

/* line 32, assets/stylesheets/layout/_reset.scss */
body {
  font-family: sans-serif;
}

/* line 1, assets/stylesheets/layout/_main.scss */
body {
  font-family: 'Droid Sans', sans-serif;
}

/* line 5, assets/stylesheets/layout/_main.scss */
.container {
  margin: 0 auto;
  padding: 0 40px;
  width: 80%;
}

/* line 1, assets/stylesheets/layout/_header.scss */
.header {
  background: url('assets/images/bg.png') no-repeat center top/100% auto;
  padding: 25px 0 20px;
}
/* line 5, assets/stylesheets/layout/_header.scss */
.header .title-header {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  top: 6px;
}
/* line 15, assets/stylesheets/layout/_header.scss */
.header .icon-medal {
  float: left;
  margin-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 10px;
}
/* line 21, assets/stylesheets/layout/_header.scss */
.header .icon-medal svg {
  position: relative;
  top: 2px;
}

/* line 1, assets/stylesheets/layout/_item_profile.scss */
.item-profile {
  border-bottom: 2px solid #eee;
  padding: 20px 0 10px;
}
/* line 5, assets/stylesheets/layout/_item_profile.scss */
.item-profile .avatar img {
  border-radius: 100%;
  box-shadow: 0 0 0 5px #fff, 0 0 0 6px #eee;
  display: block;
  float: left;
  margin-right: 20px;
  width: 50px;
}
/* line 14, assets/stylesheets/layout/_item_profile.scss */
.item-profile .info {
  overflow: hidden;
}
/* line 18, assets/stylesheets/layout/_item_profile.scss */
.item-profile .name {
  font: bold 12px/1 sans-serif;
  margin-bottom: 10px;
}
/* line 23, assets/stylesheets/layout/_item_profile.scss */
.item-profile .level {
  border-right: 1px solid #eee;
  float: left;
  font-size: 22px;
  line-height: 60px;
  height: 60px;
  overflow: hidden;
  padding-right: 20px;
  margin-right: 20px;
}
/* line 34, assets/stylesheets/layout/_item_profile.scss */
.item-profile .progress-bar {
  background: #eee;
  border-radius: 10px;
  color: #fff;
  font-size: 10px;
  overflow: hidden;
}
/* line 41, assets/stylesheets/layout/_item_profile.scss */
.item-profile .progress-bar .progress {
  background: #464e7c;
  display: inline-block;
  padding: 2px 10px;
}
/* line 48, assets/stylesheets/layout/_item_profile.scss */
.item-profile .list {
  margin-top: 5px;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 53, assets/stylesheets/layout/_item_profile.scss */
.item-profile .list .item {
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
}
/* line 58, assets/stylesheets/layout/_item_profile.scss */
.item-profile .list .item:first-child {
  margin-left: 0;
}
/* line 62, assets/stylesheets/layout/_item_profile.scss */
.item-profile .list .item span {
  font-weight: bold;
  color: #464e7c;
}

/* line 1, assets/stylesheets/layout/_footer.scss */
.footer {
  background: #222;
  text-align: center;
  padding: 20px 0;
}

/* line 3, assets/stylesheets/layout/_about_team.scss */
.about-team .member {
  color: #fff;
  display: inline-block;
  margin: 0 10px;
}
/* line 9, assets/stylesheets/layout/_about_team.scss */
.about-team .avatar-creator {
  border-radius: 100%;
  overflow: hidden;
}
/* line 14, assets/stylesheets/layout/_about_team.scss */
.about-team .name {
  display: block;
  font-weight: normal;
  font-size: 12px;
}
