.about-team {

	.member {
		color: #fff;
		display: inline-block;
		margin: 0 10px;
	}

	.avatar-creator {
		border-radius: 100%;
		overflow: hidden;
	}

	.name {
		display: block;
		font-weight: normal;
		font-size: 12px;
	}
}
