.header {
	background: image-url( 'bg.png', false, false ) no-repeat center top / 100% auto;
	padding: 25px 0 20px;

	.title-header {
		color: #fff;
		font-size: 16px;
		float: left;
		line-height: 1;
		letter-spacing: 1px;
		text-transform: uppercase;
		position: relative;
		top: 6px;
	}

	.icon-medal {
		float: left;
		margin-right: 15px;
		border-right: 1px solid rgba( #fff, .2 );
		padding-right: 10px;

		svg {
			position: relative;
			top: 2px;
		}
	}

	.buttons-git {
		float: right;
		position: relative;
		top: 5px;

		iframe {
			margin-left: 10px;
		}
	}

	@include resp( mobile ) {
		background-size: cover;

		.buttons-git {
			display: none;
		}
	}
}